#view {

    height: 1000px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background: url("../icon/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#overlay-band {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding-left: 10%;
    padding-right: 10%;
}

#overlay-band h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 1;
}

#overlay-band h3 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-size: 2rem;
    margin-bottom: 10px;
}

#overlay-band h4 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-size: 2rem;
}

#overlay-band p,
#overlay-band label,
#overlay-band textarea,
#overlay-band button,
#overlay-band input {
    color: #fff;
    opacity: 1;
    width: 40%;
    font-size: 1.4rem;
}

#overlay-band button,
#overlay-band textarea,
#overlay-band input {
    background-color: #3f3f42c5;
    border-radius: 10px;
    padding: 10px;
}

#overlay-band label {
    display: inline-block;
    width: 130px;
}

#credentials input[type=submit]{
    width: 125px;
}

#overlay-band * {
    margin-bottom: 10px;
}

#overlay-band textarea {
    width: 100%;
}

#overlay-band th,
#overlay-band td {
    color: #ffffff;
    opacity: 1;
    width: 50%;
    font-size: 1.4rem;
    background-color: #3f3f42;
    padding: 10px;
    border-radius: 10px;
}

#overlay-band thead th {
    background-color: #727278;
}