@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

:root {
    --text-color: rgb(141, 230, 233);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

body::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background: url("../icon/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: -1;
    transition: 0.5s ease;
    overflow: hidden; /* to hide the blur on the edges of the image */
}

#view {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #4b5560b1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border: 2px solid rgba(0, 0, 0);
    border-radius: 20px;
    min-height: 70%;
    min-width: 25%;
}

#view > h3 {
    font-size: 2rem;
    font-weight: 600;
    margin: 15px 15px 20px 15px;
    text-align: center;
    color: var(--text-color);
    text-shadow: 0 0 10px rgba(95, 158, 160, 0.547);
    text-transform: uppercase;
    letter-spacing: 2px;
}

#box {
    display: flex;
    flex-direction: row;
    align-items: left;
    justify-content: left;
    width: 100%;
}

#box form {
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    width: 100%;
}

#box button {
    height: 30px;
    width: 30px;
    margin: 5px;
}

.input {
    border: none;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 5px solid var(--text-color);
    background-color: transparent;
    height: auto;
    width: 90%;
}

.input::placeholder {
    color: var(--text-color);
    letter-spacing: 2px;
    font-size: 1.8rem;
}

.input:hover {
    transform: scale(1.1);
    transition: 1s ease;
}

.input:hover{
    box-shadow: 0 8px 10px -5px var(--text-color); /* x-offset, y-offset, blur-radius, spread-radius, color */
    transition: 0,3s ease;
    z-index: 5;
}

.input:focus {
    outline: none;
    border-bottom: 5px solid black;
    box-shadow: none;
}


#submit {
    margin: 10px;
    width: 50%;
    height: 50px;
    font-size: 1.5rem;
    background-color: var(--text-color);
    border: none;
    border-radius: 25px;
}

#navigation {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#navigation a {
    color: var(--text-color);
}

#navigation a:hover {
    color: black;
    font-size: 2rem;
    transition: 0.3s ease;
}

#navigation a:visited {
    color: var(--text-color);
}

@media screen and (max-width: 750px) {
    body::before{
        background: url("../icon/vertical-bg.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
        transition: 0.5s ease;
    }
} 