#view{
    
    height: 100vh;
    width: 100%;
    background-size:cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background: url("../icon/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#overlay-band{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

#overlay-band h2{
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 1;
}
#overlay-band h4{
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-size: 2rem;
}
#overlay-band p{
    color: #fff;
    opacity: 1;
    width: 50%;
    font-size: 2rem;
}

#features{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 100px;
    align-content: center;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(252, 253, 253);

}

.fe-box{
    background-color: #fff;
    padding: 20px;
    margin: 20px;
    border-radius: 4px;
    border: 1px solid black;
    box-shadow: 25px 25px 34px rgba(0, 0, 0, 0.03);
    max-width: 200px;

}
.fe-box:hover{
    box-shadow: 3px 3px 0 10px rgba(0, 0, 0, 0.1);
    transition: 0,3s ease;
}
.fe-box img{
    align-self: center;
}

.fe-box h6{
    text-align: center;
    font-size: 1.2rem;
    font-weight: 200;
    margin-top: 10px;
    word-wrap: break-word;
    
}
