:root {
    --text-color: rgb(141, 230, 233);
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img {
    height: 150px;
    width:auto;
}

p {
    font-size: 2.5rem;
    font-weight: bold   ;
}

div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin: 10px;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

div a {
    color: black;
}

div a:hover {
    color: var(--text-color);
    font-size: 2rem;
    transition: 0.3s ease;
}

div a:visited {
    color: black;
}