@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* specifies that the border and margin should be included in the total width and height of the element */
    font-family: "Spartan", sans-serif;
}   

#menu {
    display: none;
}

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {    
    font-size: 20px;
    color: #222;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

body {
    width: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
    background: #3f3f42;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08); /* makes shadow effect under the navbar */
    z-index: 5; /* makes the navbar apear higner then the other elements */
    position: sticky; /* it sticks to the top of the page so that it doesn't move when scrolling */
    top: 0; /* position of the navbar */
    left: 0;
    height: 15vh;
}

#logo {
    height: 100px;
    width: auto;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 40px;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li > a {
    text-decoration: none;
    font-size: 16px;
    font-weight: 600; /* thickness of the text */
    color: #fdfcfc;
    transition: 0.3s ease; /* smooth transition and small animation*/
    padding-bottom: 10px;
}

#navbar li a:hover, 
#navbar li a.active {
    color:cadetblue;
}

#navbar li > a.active::after,
#navbar li > a:hover::after {
    content: ""; /* creates an empty pseudoelement */
    width: 30%;
    height: 2px;
    background: cadetblue;
    position: absolute;
    bottom: -4px;
    left: 20px;
}
/* Dropdown button styling */
.dropdown {
    position: relative;
    display: inline-block; /* the dropdown can be put next to other elements but also can be given its height width ... */
}

/* Show dropdown on hover */
.dropdown:hover {
    display: block;
}

/* Dropdown content styling */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    min-width: 150px;
    z-index: 1;
    padding: 10px 0;
    border-radius: 4px;
    top: 100%; /* Align below the button */
    left: 0;
    transform: translateY(8px); /* Move the dropdown below the button by 10px*/

}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a {
    text-decoration: none;
    color: #1a1a1a;
    padding: 8px 16px;
    display: block;
    transition: 0.3s ease;
}

.dropdown-content a:hover {
    color: cadetblue;
}

footer{
    display: flex;
    padding: 50px 70px;
    align-content: center;
    justify-content: flex-start;
    width: 100%;
    background-color: #3f3f42;
}

footer p, h4{
    color: #fff;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin: 20px;
    width: 50%;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}
footer .col div{
    padding: 25px 25px;
}

footer .col > div > h4{
    margin-bottom: 20px;
    text-align: center;
}

.icon{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.icon a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: whitesmoke;
    border-radius: 30px;
    margin: 15px 15px;
    box-shadow: 15px 15px 34px rgba(0, 0, 0, 0.03);
}

.icon i{
    color: whitesmoke;
    padding: 10px;
    border-radius: 0 15px 15px 0;
    width: 50px;
    height: 50px;
    margin: 10px;
    font-size: 2rem;
    transition: 0,3s ease;
}


@media screen and (max-width: 850px) and (min-width: 600px) {
    #navbar {
        flex-wrap: wrap;
    }

    #navbar li {
        margin-top: 10px;
    }
}

@media screen and (max-width: 600px) {
    header {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    #navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #navbar > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #menu {
        background-color: transparent;
        font-size: 25px;
        border: none;
        width: 100%;
        color: white;
    }
    #navbar li {
        margin-top: 10px;
    }

    #menu {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}
