#view {

    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#view::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(3px);
    background: url("../icon/bg.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
}

#overlay-band {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    padding-left: 10%;
    padding-right: 10%;
}

#overlay-band h2 {
    color: #fff;
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    opacity: 1;
}

#overlay-band h3 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-size: 2rem;
    margin-bottom: 10px;
}

#overlay-band h4 {
    color: #fff;
    font-weight: 600;
    opacity: 1;
    font-size: 2rem;
}

#overlay-band p {
    color: #fff;
    opacity: 1;
    width: 50%;
    font-size: 1.4rem;
}

#overlay-band th,
tr,
td {
    color: #ffffff;
    opacity: 1;
    width: 50%;
    font-size: 1.4rem;
    background-color: #3f3f4285;
    padding: 10px;
    border-radius: 10px;
}

#overlay-band tfoot, thead {
    background-color: #ffffff85;
}

#summary {
    text-align: left;
}