<!DOCTYPE html>
<html>

<head>
    <title>About</title>
</head>

<body>
    <h1>
        Your Cars Webshop
    </h1>
    <a href="./index.html">
        <button>Back to Main Page</button>
    </a>
    <h2>
        About
    </h2>
    <h3>
        General Information
    </h3>
    <p>
        (Add General Information)
    </p>
    <h3>
        Phone Number
    </h3>
    <a href="tel:+49123456789">0123-456789</a>
    <h3>
        Address
    </h3>
    <p>
        Main Street 1<br>
        12345 Sometown<br>
        Germanys
    </p>
</body>

</html>