<!DOCTYPE html>
<html>

<head>
    <title>Customer Area</title>
</head>

<body>
    <h1>
        Your Cars Webshop
    </h1>
    <h2>
        Customer Area
    </h2>
    <h3>
        Personal Information:
    </h3>
    <p>
        (Add Personal Information here)
    </p>
    <h3>
        Recent Orders:
    </h3>
    <table>
        <tr>
            <th>Quantity</th>
            <th>Product</th>
            <th>Price</th>
        </tr>
        <tr>
            <td>1</td>
            <td>Car 1</td>
            <td>10€</td>
        </tr>
        <tr>
            <td>16</td>
            <td>Car 2</td>
            <td>10.000€</td>
        </tr>
    </table>
    <h3>
        Account Settings:
    </h3>
    <form>
        <label for="fname">Username:</label>
        <input type="text">
        <input type="submit" value="Change">
    </form>
    <form>
        <label for="fname">Password:</label>
        <input type="text">
        <input type="submit" value="Change">
    </form>
    <br>
    <a href="./index.html">
        <button>Unregister</button>
    </a>
    <br><br>
    <a href="./logout.html">
        <button>logout</button>
    </a>
</body>

</html>