<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Your Cars Webshop – Home</title>
</head>

<body>

  <h1>Your Cars Webshop</h1>
  <p>Welcome! Start by choosing a car category or accessing customer options.</p>

  <h2>Product Categories</h2>
  <ul>
    <li>
      <a href="./sportsCars.html">Sport Cars</a>
      <ul>
        <li><a href="./newSportsCars.html">New Sport Cars</a></li>
        <li><a href="./usedSportsCars.html">Used Sport Cars</a></li>
      </ul>
    </li>
    <li>
      <a href="./luxuryCars.html">Luxury Cars</a>
      <ul>
        <li><a href="./newLuxuryCars.html">New Luxury Cars</a></li>
        <li><a href="./usedLuxuryCars.html">Used Luxury Cars</a></li>
      </ul>
    </li>
    <li>
      <a href="./familiyCars.html">Family Cars</a>
      <ul>
        <li><a href="./newFamiliyCars.html">New Family Cars</a></li>
        <li><a href="./usedFamiliyCars.html">Used Family Cars</a></li>
      </ul>
    </li>
  </ul>

  <h2>General Information</h2>
  <ul>
    <li><a href="./about.html">Information about the Seller</a></li>
  </ul>

  <h2>Customer Area</h2>
  <ul>
    <li><a href="./login.html">Login to Customer Area</a></li>
  </ul>

</body>

</html>