<!DOCTYPE html>
<html>

<head>
    <title>New Sports Cars</title>
</head>

<body>
    <h1>
        Your Cars Webshop
    </h1>
    <a href="./index.html">
        <button>Back to Main Page</button>
    </a>
    <h2>
        New Sports Cars
    </h2>
    <h3>
        Products
    </h3>
    <ul>
        <li>
            <a href="./new_cars/sport/p911Carrera.html">Porsche 911 Carrera</a>
        </li>
        <li>
            <a href="./new_cars/sport/cCorvetteStingray.html">Chevrolet Corvette Sringray</a>
        </li>
    </ul>
</body>

</html>