<!DOCTYPE html>
<html>

<head>
    <title>Shopping Cart</title>
</head>

<body>
    <h1>
        Your Cars Webshop
    </h1>
    <a href="./index.html">
        <button>Back to Main Page</button>
    </a>
    <h2>
        Shopping Cart
    </h2>
    <h3>
        Items:
    </h3>
    <table>
        <thead>
            <tr>
                <th>Quantity:</th>
                <th>Item:</th>
                <th>Price:</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>(5)</td>
                <td>(Example item)</td>
                <td>(5.00€)</td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">Summary:</td>
                <td>(5.00€)</td>
            </tr>
        </tfoot>
    </table>
</body>

</html>